h1 {
	color:white;
	background-color: grey;

}

#about {
	font-size: 25px;
	height:290px;
	width: 500px;
	color:grey;
	background-color: purple;
	position: relative;
	text-align: center;
	left: 485px;
	top:150px;
	border-radius: 60px;
	padding-top: 15px;


}

#talk {
	font-size: 25px;
	height:290px;
	width: 500px;
	color:grey;
	background-color: aqua;
	position: relative;
	text-align: center;
	left: 485px;
	top:150px;
	border-radius: 60px;
	padding-top: 15px;



