<html>

<head>
<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
<center>
<h1>Hello World!!!<h1>



<p><b> These is are my posts!!!</p><b>
</center>

{% for rockstar in users: %}
	<div id="about">
	<p> - Post by {{ rockstar.firstname}} {{rockstar.lastname}}</p>


	{% for post in posts: %}

	{% if post.author == rockstar.id %}

	
	<p>{{post.title}} {{post.content}}</p></div>
<br>
{% endif %}
{% endfor %}

{% endfor %}



</body>


</html>